/*
to convert to style.production.css, first use the PostCSS variables playground
https://madlittlemods.github.io/postcss-css-variables/playground/
then use the Autoprefixer CSS online tool
https://autoprefixer.github.io/
Paste output into style.production.css. 
Make sure links in site point to style.production.css before publishing.
*/

:root {
  --the-challenge-color: orange;
  --the-process-color: yellow;
  --the-goal-color: rgb(0, 173, 0);
  --meet-app-color: #00d3e2b4;
  --simple-pokedex-color: #afafaf;
  --bearing-capacity-color: #ffbb00;
  --myflix-color: orange;
  --lets-talk-color: #b9c6ae;
  --supersonic-color: #3B7A00;
  --navfac-color: #c6b7a4;
  --mct2d-color: #34bebd;
  --jumpstart-color: #A6B73B;
}

main {
   margin: 0; 
   padding: 0; 
   margin-top: 5px;
}

.case-study {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: white;
  height: 100%;
}

h1 {
  font-size: 32px;
}

.case-study__hero-image {
  display: block;
  width: 80%;
  height: auto;
  margin: auto;
  border: solid rgba(0, 0, 0, 0.301) 1px;
  margin-top: -20px;
}

#lets-chat-hero, #supersonic-hero, #myflix-angular-hero,
#navfac-hero {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-top: -20px;
  margin-right: -20px;
}

.case-study__links__link {
  background-color: var(--meet-app-color);
  display: inline-block;
  width: 150px;
  text-align: center;
  margin-top: 15px;
  border: solid black 2px;
  border-radius: 10px;
  text-decoration: none;
}

h2, h3, h4 {
  font-size: 24px;
  background-image: linear-gradient(to right, white , var(--meet-app-color));
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
}

#the-challenge {
  color: var(--the-challenge-color);
  background-image: linear-gradient(to right, black , var(--the-challenge-color));
  font-size: 26px;
  line-height: 1.5em;
}

#the-process {
  color: var(--the-process-color);
  background-image: linear-gradient(to right, black , var(--the-process-color));
  font-size: 26px;
  line-height: 1.5em;

}

#the-goal {
  color: var(--the-goal-color);
  background-image: linear-gradient(to right, black , var(--the-goal-color));
  font-size: 26px;
  line-height: 1.5em;

}



.image-caption {
  max-width: 350px;
}

.image-caption-centered {
  max-width: 350px;
  margin: auto;
}

h3 {
  font-size: 22px;
  background-image: linear-gradient(to right, white , var(--meet-app-color));
  line-height: .4em;
}

h4 {
  font-size: 20px;
  line-height: .4em;
}

.float-left {
  float: left;
  margin-right: 30px;
}

.float-right {
  float: right;
  margin-left: 30px;
}

#integration-test-img {
  width: 60%;
}

#taskbar-img, #topic-search-mockup-img, 
  #pokeball-img, #caniuse-arrow-functions-img, #modal-img,
  #excavation-img,
  #myflix-profile-img, #react-img, #redux-img,
  #lets-talk-screen-height-img,
  #supersonic-home-page-img,
  #navfac-function-web,
  #navfac-class-web {
  display: block;
  max-width: 80%;
  height: auto;
  margin: auto;
}

#topic-search-mockup-img {
  border: solid black 1px;
}

#list-img {
  width: 300px;
}

#terzaghi-portrait {
  max-width: 300px;
}

#mongo-img, #heroku-img, #netlify-img, #firebase-img,
#angular-login-img {
  max-width: 300px;
}

.full-width,
#myflix-docs-img, #chat-app-themes-img,
#supersonic-design-img,
#angular-vs-react-img,
#print-preview {
  width: 100%;
}

#react-img, #redux-img {
  width: 150px;
}

#myflix-favorite-movie-img,
#supersonic-dev-process,
#navfac-responsive {
  max-width: 450px;
}

#lets-talk-screen-design-img {
  max-width: 300px;
  max-height: 600px;
}

#nested-content {
  max-width: 100%;
}

#lets-talk-screen-height-img, #lets-talk-location-img {
  max-height: 500px;
}

#supersonic-data-model-original-img,
#supersonic-data-model-final-img {
  max-width: 475px;
}

#supersonic-data-model-final-img {
  display: block;
  margin: auto;
}

#supersonic-home-page-img {
  border: solid black 1px;
}

#supersonic-api-doc-img {
  max-width: 600px;
}

#ng-generate-img {
  display: block;
  max-width: 99%;
  margin: auto;
}

.case-study__inline-p {
  display: inline;
}


@media only screen and (max-width: 475px) {
  #terzaghi-portrait, #bearing-capacity-invalid-input-img, #lets-talk-screen-design-img {
    max-width: 280px;
  }
}

@media only screen and (max-width: 750px) {
  .case-study__hero-image {
    width: 100%;
  }

  .float-right, .float-left {
    float: none;
    display: block;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    margin: auto;
  }

  #typo-img, #integration-test-img, #taskbar-img, #topic-search-mockup-img, #modal-img, #excavation-img,
  #supersonic-api-doc-img,
  #navfac-class-web,
  #navfac-function-web,
  #print-preview {
    width: 100%;
    height: auto;
  }

  h2, h3 {
    line-height: 1em;
  }
}

/* styles specific to the pokedex app page */
.simple-pokedex-link {
  background-color: var(--simple-pokedex-color);
}

.simple-pokedex-h3, .simple-pokedex-h4 {
  background-image: linear-gradient(to right, white , var(--simple-pokedex-color));
}

/* styles specific to the bearing capacity calculator page */
.bearing-capacity-link {
  background-color: var(--bearing-capacity-color);
}

.bearing-capacity-h3, .bearing-capacity-h4 {
  background-image: linear-gradient(to right, white , var(--bearing-capacity-color));
}

/* styles specific to the MyFlix app page */
.myflix-link {
  background-color: var(--myflix-color);
}

.myflix-h2, .myflix-h3, .myflix-h4 {
  background-image: linear-gradient(to right, white , var(--myflix-color));
}

/* styles specific to the Let's Talk page */
.lets-talk-link {
  background-color: var(--lets-talk-color);
}

.lets-talk-h2, .lets-talk-h3 {
  background-image: linear-gradient(to right, white , var(--lets-talk-color));
}

/* styles specific to the Supersonic page */
.supersonic-link {
  background-color: var(--supersonic-color);
  color: white;
}

.supersonic-link:visited {
  color: white;
}

.supersonic-h2, .supersonic-h3, .supersonic-h4 {
  background-image: linear-gradient(to right, white , var(--supersonic-color));
}

/* styles specific to the NAVFAC page */

.navfac-h2, .navfac-h3, .navfac-h4 {
  background-image: linear-gradient(to right, white , var(--navfac-color));
}

.navfac-link {
  background-color: var(--navfac-color);
  color: black;
}

.navfac-link:visited {
  color: black;
}

/* styles specific to the mct2d page */
.mct2d-h2, .mct2d-h3, .mct2d-h4 {
  background-image: linear-gradient(to right, white, var(--mct2d-color));
}

.mct2d-link {
  background-color: var(--mct2d-color);
  color: black;
}

.mct2d-link:visited {
  color: black;
}

/* styles specific to the Jumpstart page */
.jumpstart-h2, .jumpstart-h3, .jumpstart-h4 {
  background-image: linear-gradient(to right, white, var(--jumpstart-color));
}

.jumpstart-link {
  background-color: var(--jumpstart-color);
  color: black;
}

.jumpstart-link:visited {
  color: black;
}